// Color Palette
/* SCSS HEX */
$oxford-blue: #061a40ff;
$prussian-blue: #003559ff;
$usafa-blue: #0353a4ff;
$honolulu-blue: #006daaff;
$beau-blue: #b9d6f2ff;
$onyx: #3d3d3dff;
$davys-grey: #5a5e5eff;
$gray-web: #808889ff;
$gray-x-11-gray: #bbbbbfff;
$white: #ffffffff;
/* SCSS RGB */
// $oxford-blue: rgba(6, 26, 64, 1);
// $prussian-blue: rgba(0, 53, 89, 1);
// $usafa-blue: rgba(3, 83, 164, 1);
// $honolulu-blue: rgba(0, 109, 170, 1);
// $beau-blue: rgba(185, 214, 242, 1);
// $onyx: rgba(61, 61, 61, 1);
// $davys-grey: rgba(90, 94, 94, 1);
// $gray-web: rgba(128, 136, 137, 1);
// $gray-x-11-gray: rgba(187, 187, 191, 1);
// $white: rgba(255, 255, 255, 1);
$instagram-radial: radial-gradient(#405de6ff, #5851dbff, #833ab4ff, #c13584ff, #e1306cff, #fd1d1dff, #f56040ff, #f77737ff, #fcaf45ff, #ffdc80ff);

// Fonts
@import url('https://fonts.googleapis.com/css2?family=Jockey+One&family=Montserrat&family=Open+Sans:wght@400;700;800&family=Roboto&display=swap');
$Open-Sans: 'Open Sans', sans-serif;
$Roboto: 'Roboto', sans-serif;
$Montserrat: 'Montserrat', sans-serif;
$JockeyOne: 'Jockey One', sans-serif;
body {
    text-align: center;
    overflow-x: hidden;
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
h1, h2 {
    font-family: $Open-Sans;
    font-weight: 700;
}
h3, h4, h5, h6, p {
    font-family: $Montserrat;
}
// text colors
.white-text {
    color: white;
}
.blue-text {
    color: $oxford-blue;
}

// headings
.big-heading {
    font-family: $Open-Sans;
    font-weight: 700;
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-heading {
    font-size: 3rem;
    line-height: 1.5;
}

// containers
.container-fluid {
    padding: 3% 15% 7%;
}

// to top button
#toTopButton {
    border-radius: 100%;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 1;
    background-color: $honolulu-blue;
    border: none;
    -webkit-appearance: none;
}
#toEstimateButton {
    border-radius: 8px;
    position: fixed;
    bottom: 10px;
    right: 45px;
    z-index: 1;
    // background-color: $honolulu-blue;
    // border: none;
    font-family: $Open-Sans;
    font-weight: 700;
    -webkit-appearance: none;
}

// Title Section START
#title {
    background-color: $white;
    h1, p {
        color: $oxford-blue;
    }
    
    .navbar {
        padding: 1rem 0 4.5rem;
        // .navbar-brand {
        //     color: $oxford-blue;
        //     font-family: $JockeyOne;
        //     font-size: 2rem;
        // }

        #logo {
            width: 250px;
            height: auto;
        }
    }
    .titleGrouping {
        // margin: 7%;
        // padding: 7%;
        h1 {
            padding-top: 7%;
        }
        .titleImage {
            // margin-right: 7% !important;
            max-width: 100%;
            width: 500px;
            height: auto;
            opacity: .5;
            z-index: 0;
            position: absolute;
        }
    }
    
    .contactButtons {
        position: relative;
        bottom: 10%;
        margin: 1rem;
        background-color: $oxford-blue;
        border: none;
        
        -webkit-appearance: none;
        i {
            margin-right: .7rem;
        }
    }

    .estimateForm {
        margin: 7%;
        padding: 7%;
        background-color: $oxford-blue;
        color: white;
        box-shadow: $beau-blue 0px 3px 15px;
        
        .estimateHeader {
            place-items: center;
            font-weight: 800;
            padding-bottom: 1rem;
        }
        input, textarea {
            background-color: $prussian-blue;
            border: none;
            font-family: $Open-Sans, 'FontAwesome';
            // color: white;
            &::placeholder {
                color: $gray-x-11-gray;
                opacity: 1;
            }
            &[type=submit] {
                font-weight: 600;
                // background-color: red;
            }
            &:focus {
                background-color: white !important;
                color: black !important;

            }
        }

    }
}
@media screen and (min-width: 1028px) {
    #title {
        text-align: left;
    }
    .titleImage {

    }
    .estimateForm {
        margin-right: 0 !important;
        margin-top: 1rem !important;
    }
}
// shortens navbar brand typography
@media screen and (max-width: 668px) {
    #smallNavBrand {
        display: none;
    }
}
// this fixes overflow causing unwanted horizontal scrolling
@media screen and (max-width: 730px) {
    #title {
        .titleImage {
            max-width: 80%;
            left: 10px;
            position: relative;

        }
    }
    
}
// Title Section END

// Services Section START
#services {
    background-color: $oxford-blue;
    padding: 3% 15% 7%;
    .service-heading-text {

    }
    .service-col {
        padding: 3% 2%;
    }
    .card {
        height: 22rem;
    }
    .card-title {
        color: black;
    }
    .card-img-top {
        height: 200px;
        padding: 5%;
    }
    .service-images {
        width: 150px;
        height: auto;
    }
    .serviceButton {

    }
    
}
// @media screen and (min-width: 992px) and (max-width: 1230px) {
@media screen and (max-width: 1038px) {
    .card-title {
        font-size: 1.5rem !important;
    }
}
@media screen and (max-width: 700px) {
    .modal {
        width: 100vw;
    }
}
// Services Setion END

// Projects Section START
#projects {

    .project-heading-text {
        font-weight: 700;
        font-size: 2.5rem;
        padding: 10px;
        margin: 10px 0;
    }
    .card {
        // width: 60%;
        // height: auto;
    }
    .projectModalImages {
        border-radius: 8px;
        padding: 10px 0;
    }
    .carousel-control-prev-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
       }
       
       .carousel-control-next-icon {
            background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
       }

}
@media screen and (max-width: 700px) {
    #projects {
        .project-heading-text {
            font-size: 2rem !important;
            font-weight: 700;
        }
        .card-title {
            font-size: 1.5rem;
        }
    }
}
// Projects Section END


// Testimonitals Section START
#testimonials {
    background-color: $onyx;
    .testimonial-text {
        // font-size: 3rem;
        // line-height: 1.5;
    }
    .testimonial-image {
        width: 10%;
        border-radius: 100%;
        margin: 20px;
    }
}
@media screen and (max-width: 750px) {
    .testimonial-image {
        width: 25% !important;
    }
    .testimonial-text {
        font-size: larger;
    }

}
// Testimonials Section END

// Contact Section START
#contact {
    // background-color: $oxford-blue;
    h4 {
        font-size: 3rem;
        font-family: $JockeyOne;
    }
    a {
        font-size: 1.25rem;
        font-family: $Open-Sans;
    }
    .socialLinks {
        padding: 1%;
        margin-top: 10px;
        a {
            padding: 8px;
            &:hover {

            }
        }
        .fa-twitter {
            color: #1DA1F2;
        }
        .fa-linkedin {
            color: #0077b5;
        }
        .fa-facebook {
            color: #3b5998;
        }
        .fa-instagram {
            // background-image: $instagram-radial;
        
            background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%, #d6249f 60%, #285AEB 90%);
            -webkit-background-clip: text;
            /* Also define standard property for compatibility */
            background-clip: text;
            -webkit-text-fill-color: transparent;
        }
        .fa-yelp {
            color: #d32323;
        }
        .fa-pinterest {
            color: #e60023;
        }
    }
}
@media screen and (max-width: 600px) {
    #contact {
        .container-fluid {
            padding: 0;
        }
    }
}


// ipad and smaller
@media (max-width: 1028px) {
    #title {
        text-align: center;
        .container-fluid {
            padding: 3% 7% 7%;
        }
        .estimateForm {
            margin: 10% 0 10%;
        }
    }
}
